<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Play</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on("move", ({ x, y }) => {
        const cells = document.querySelectorAll(".cell");
        cells[x * 10 + y].style.backgroundColor = "red";
      });

      socket.on("game", (game) => {
        const gameObj = JSON.parse(game);
        const playersList = document.querySelector("#playersList");
        playersList.innerHTML = `<h3>Players:</h3><ul>${gameObj.players
          .map((player) => `<li>${player.name}</li>`)
          .join("")}</ul>`;

        renderGridOrWaitingMessage(gameObj.players.length);
      });

      document.addEventListener("DOMContentLoaded", () => {
        const cells = document.querySelectorAll(".cell");
        cells.forEach((cell) => {
          cell.addEventListener("click", handleCellClick);
        });
        socket.emit("game", `<%- JSON.stringify(game) %>`);
      });

      function handleCellClick(event) {
        const cell = event.target;
        const x = Number(cell.dataset.x);
        const y = Number(cell.dataset.y);
        socket.emit("move", { x, y });
      }

      function renderGridOrWaitingMessage(socketPlayersCount) {
        const gridContainer = document.querySelector("#grid");
        const waitingMessage = document.querySelector("#waiting-message");

        if (socketPlayersCount === 1) {
          gridContainer.style.display = "none";
          waitingMessage.style.display = "block";
        } else {
          gridContainer.style.display = "grid";
          waitingMessage.style.display = "none";
        }
      }
    </script>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <h2>Welcome, <%= user.name %></h2>
      <div id="playersList"></div>
      <h3 id="waiting-message">Waiting for another player...</h3>
      <div id="grid">
        <% for(let i = 0; i < 10; i++) { %> <% for(let j = 0; j < 10; j++) { %>
        <div class="cell" data-x="<%= i %>" data-y="<%= j %>"></div>
        <% } %> <% } %>
      </div>
    </div>
  </body>
</html>
